<div class="container u-margin-top">
    <form [formGroup]="searchUser" (ngSubmit)="onSearch(searchUser.get('searchBy').value)">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="searchBar" placeholder="Search User By Name"
                    formControlName="searchBy">
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit">Search</button>
                <button class="btn btn-success u-margin-left-small pull-right" type="button" data-toggle="modal"
                    data-target="#addUser" (click)="addNew = !addNew"><i class="fa fa-plus"></i>
                    Add new
                    user</button>
            </div>
        </div>
    </form>
    <div *ngIf="addNew === true">
        <app-add-user (newUser)="onAddNew($event)"></app-add-user>
    </div>
</div>
<div class="container-fluid">
    <div class="flex__container flex__container-center">
        <ng-container *ngFor="let user of users">
            <app-user [user]="user" (editUser)="onEditUser($event)" class="flex__item"></app-user>
        </ng-container>
    </div>
</div>
