.grid {
  grid-template-columns: 1fr 3fr;

  &__info {
    &-title {
      font-size: 2rem;
      color: #666;
    }
  }
}

.grid__tabs-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #aaa;
  margin-bottom: 1rem;
}

.grid__tabs-blocks {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.profile {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgb(7, 121, 156);
  border-radius: 5px;
  box-shadow: 0 1px 4px black;
}
.info {
  margin-bottom: 1rem;
}
.info-label {
  display: inline-block;
  min-width: 12rem;
}

.flex {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;

  &-item {
    width: 5rem;
    text-align: center;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
