<div class="card-container">
    <div class="accordion" id="#accordionExample">
        <div class="card">
            <img src="../../../assets/backgroundimage.jpeg" class="card-img-top" alt="{{ user.name }}">
            <div class="card-body text-center">
                <img class="avatar rounded-circle" src="../../../assets/user.png" alt="{{ user.name }}">
                <h5 class="card-title text-info"><b>{{ user.name }}</b></h5>
                <p class="card-text text-muted">
                    {{ user.email }}
                </p>
                <p class="card-text"> {{ user.name }} is working in {{ user.company.name}} and residing at
                    {{ user.address.suite}} {{ user.address.street}},{{ user.address.city}}</p>
                <a class="btn btn-link" data-parent="#accordionExample" data-toggle="collapse" href="#{{user.id}}"
                    aria-expanded="false" aria-controls="collapseExample">Read More
                </a>
                <div class="collapse" id="{{user.id}}" data-parent="#accordionExample" *ngIf="this.user">
                    <ul>
                        <li>
                            User Id: {{ user.id }}
                        </li>
                        <li>
                            User Name: {{ user.username }}
                        </li>
                        <li>
                            Phone: {{ user.phone }}
                        </li>
                        <li>
                            Website: {{ user.website }}
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="card-footer">
                <a class="btn btn-info" [routerLink]="['/user/',user.id]">View Profile</a>
                <a class="btn btn-success u-margin-left-small text-white" [routerLink]="['/user/',user.id]">Edit
                    Profile</a>
            </footer>
        </div>
    </div>
</div>
